<!DOCTYPE html>
<html>
<head>
	            <title>Photoshop</title>
	            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	            <link rel="stylesheet" type="text/css" href="../css/style.css" />
	            <script src="../js/jquery-latest.js">
                  //path of use JQuery 
              </script>

            	<script>

              	function showdown(id) { 
                var idstr="#"+id;  
                $(idstr).toggle("show");

                // $(idstr).css('display' , 'block');    
            
                }
              </script>

	
</head>
<body >
<header >
<div class="top">
	<a href="#"><image src="../image/logo.png" width="100px" height="100px"><span class="textlogo"> Phong kham chuyen khoa</span><span class="text_aside"> câu hỏi cho bác sĩ:0511 676 777   </span>></a>
	<nav>
	    <ul>
			<li class="link">
				<a onclick="showdown('gioithieu')" >Gioi thieu</a>
				<div id="gioithieu" class="btdowncontain">
			<a href="#" class="btdown">Gioi thieu chung</a>
			<a href="#" class="btdown">Lich su phat trien</a>
			</div>
			</li>
			<li class="link">
				<a onclick="showdown('chuyenkhoa')" >Chuyen khoa</a>
				<div id="chuyenkhoa" class="btdowncontain">
			<a href="#" class="btdown">Khoa noi</a>
			<a href="#" class="btdown">Khoa ngoai</a>
		    </div>
			</li>
			</li>
			<li class="link">
				<a>Bac si</a>
			</li>
			<li class="link">
				<a>Tai khoan</a>
			</li>
			
		</ul>
	</nav>
</div>
<table width="100%">
	<tr>
		<td class="headerlogo"><marquee width=50%> <h1 class="text">Phòng khám chuyên khoa - Vật lý trị liệu - Phục hồi chức năng</h1></marquee></td>
	</tr>
</table>
</header>
<main>
<aside class="aside_container">
	<div class="left_container">
		<div class="left_item">nguoi lon</div>
		<ul style="width: 70%;margin: 10%;line-height: 2;">
			<li>
				<a> Dau co tay</a>
				</li>
				<li>
				<a> Dau cot song</a>
				</li>
				<li>
				<a> Thoat vi dia dem</a>
				</li>
				<li>
				<a> Dau chan</a>
			</li>
		</ul>

		<div class="left_item"> Tre em</div>
		
			<h2 class="left_item"> Dat lich kham</h2>
			<ul>
			<input type="text" name="txt1" placeholder="Ho & ten">
			<input type="text" name="txt2" placeholder="Dia chi">
			<input type="text" name="txt3" placeholder="So dien thoai">
			<input type="text" name="txt4" placeholder="Thoi gian">
			<button style="display: block;">Dat lich</button> 
			</ul>
		
		
	</div>
</aside>
<ul  class="content_center">
	<li class="item">

			<img src="../image/daucotay.jpg" class="iteminside">
            <p class="textdescribe">
            	<b><a href="#" class="index">dau co tay</a></b>
            	<br> 
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
            
            <a href="#" class="arrow"></a>
            
			
	</li>
	<li class="item">
			<img src="../image/chamnoi.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b><a href="#" class="index">cham noi</a></b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			 </p>
			<a href="#" class="arrow"></a>
			 
	</li>
	<li class="item">
		<img src="../image/chamnoi2.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b ><a href="#" class="index">cham noi</a></b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			 </p>
			<a href="#" class="arrow"></a>
			 
	</li>
	<li class="item">
		<img src="../image/thoatvidiadem.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b><a href="#" class="index">thoat vi dia dem</a></b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			</p>
			<a href="#" class="arrow"></a>
		
	</li>
</ul>
</main>
</body>
<footer class="footer">
<div class="block_footer">
<div class="block_item">
<div class="block_title">về phòng khám
</div>
<ul class="block_content">
	<li >
		<a href="#">giới thiệu chung</a>
	</li>
	<li>
		<a href="#">nhân lực</a>
	</li>
	<li>
		<a href="#">trang thiết bị và cơ sở vật chất</a>
	</li>
</ul>	
</div>	
<div class="block_item">
<div class="block_title">
	hỗ trợ
</div>
<ul class="block_content">
	<li >
		<a href="#">tư vấn sức khỏe</a>
	</li>
	<li>
		<a href="#">y học thưởng thức</a>
	</li>
	<li>
		<a href="#">đặt lịch khám</a>
	</li>
</ul>	
</div>
<div class="block_item">
<div class="block_title">
	kết nối xã hội
</div>
<ul class="block_content block_only">
	<li >
		<a href="#"><i class="fa fa-spinner fa-spin fa-border black_icon" ></i>facebook</a>
	</li>
	<li>
		<a href="#"><i class="fa fa-circle-o-notch fa-spin fa-border black_icon"></i>google+</a>
	</li>
	<li>
		<a href="#"><i class="fa fa-refresh fa-spin fa-border black_icon"></i>youtube</a>
	</li>
</ul>	
</div>
</div>
</footer>
</html>