<!DOCTYPE html>
<html>
<head>
	            <title>Photoshop</title>
	             <link rel="stylesheet" type="text/css" href="../css/style.css" />
	             <script src="../js/jquery-latest.js">
                  //path of use JQuery 
                </script>

                 <script>

                function showdown(id) { 
                var idstr="#"+id;  
                $(idstr).toggle("show");

                // $(idstr).css('display' , 'block');    
            
                }
                </script>

	
</head>
<body >
<header class="container">
<div class="top">
	<div class="logo"><a href="#"><p class="textlogo"> Phong kham y</p></a></div>
	<nav style="display: inline;">
	    <ul style="display: inline;">
			<li class="link">
				<a onclick="showdown('gioithieu')" >Gioi thieu</a>
				<div id="gioithieu" class="btdowncontain">
			<a href="#" class="btdown">Gioi thieu chung</a>
			<a href="#" class="btdown">Lich su phat trien</a>
			</div>
			</li>
			<li class="link">
				<a onclick="showdown('chuyenkhoa')" >Chuyen khoa</a>
				<div id="chuyenkhoa" class="btdowncontain">
			<a href="#" class="btdown">Khoa noi</a>
			<a href="#" class="btdown">Khoa ngoai</a>
		    </div>
			</li>
			</li>
			<li class="link">
				<a>Bac si</a>
			</li>
			<li class="link">
				<a>Tai khoan</a>
			</li>
			
		</ul>
	</nav>
</div>
<table width="100%">
	<tr>
		<td class="headerlogo"><marquee width=50%> <h1 class="text">Phòng khám chuyên khoa - Vật lý trị liệu - Phục hồi chức năng</h1></marquee></td>
	</tr>
</table>
</header>
<main>
<aside class="aside_container">
	<div class="left_container">
		<div class="left_item">nguoi lon</div>
		<ul style="width: 70%;margin: 10%;line-height: 2;">
			<li>
				<a> Dau co tay</a>
				</li>
				<li>
				<a> Dau cot song</a>
				</li>
				<li>
				<a> Thoat vi dia dem</a>
				</li>
				<li>
				<a> Dau chan</a>
			</li>
		</ul>

		<div class="left_item"> Tre em</div>
		<div class="left_item"> Dat lich kham</div>
		<ul>
		<input type="text" name="txt1" placeholder="Ho & ten">
		<input type="text" name="txt2" placeholder="Dia chi">
		<input type="text" name="txt3" placeholder="So dien thoai">
		<input type="text" name="txt4" placeholder="Thoi gian">
		<br>
		<button>Dat lich</button> 
		</ul>
	</div>
</aside>
<ul  class="content_center">
	<li class="item">

			<img src="../image/daucotay.jpg" class="iteminside">
            <p class="textdescribe">
            	<b class="index">dau co tay</b>
            	<br> 
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            </p>
            
            <div class="arrow"></div>
            
			
	</li>
	<li class="item">
			<img src="../image/chamnoi.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b class="index">cham noi</b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			 </p>
			<div class="arrow"></div>
			 
	</li>
	<li class="item">
		<img src="../image/chamnoi2.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b class="index">cham noi</b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			 </p>
			<div class="arrow"></div>
			 
	</li>
	<li class="item">
		<img src="../image/thoatvidiadem.jpg" class="iteminside">
			 <p class="textdescribe">
			 	<b class="index">thoat vi dia dem</b>
			 	<br> 
			 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
			</p>
			<div class="arrow"></div>
		
	</li>
</ul>
</main>
</body>
<footer class="footer">
Address: --------------------
<div>
	<nav>
		<ul>
			<li class="supporter">
				b1
			</li>
			<li class="supporter">
				b2
			</li>
			<li class="supporter">
				b3
			</li>
			<li class="supporter">
				b4
			</li>
		</ul>
	</nav>
</div>
</footer>
</html>